* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  list-style-type: none;
}

/*
font-family: 'Faustina', serif;
font-family: 'Martel Sans', sans-serif;
*/
html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -ms-font-smoothing: antialiased !important;
  scroll-behavior: smooth;
}

:root {
  --green: #2f6057;
  --red: #a74746;
  --yellow: #dea351;
  --brown: #3d2f2e;
  --teal: #31a3a3;
  --cream: #f5f1ec;
  --beige: #c7b5a3;
  --beige-light: #e7dfd7;
  --beige-dark: #a79280;
  --black: #363232;
  --h1: 2.2rem;
  --h2: 2.2rem;
  --h3: 1.2rem;
  --h4: 1.1rem;
  --faustina: "Faustina", serif;
  --martel: "Martel Sans", sans-serif;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: var(--faustina);
  color: var(--brown);
  line-height: 1.75em;
  font-weight: 400;
  background-color: var(--cream);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 0.25em;
  line-height: 1.4em;
  background-repeat: no-repeat;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0 0 0.5em;
  font-size: 1rem;
}

h5 {
  font-family: var(--martel);
  font-size: 1rem;
  font-weight: 400;
}

h4 {
  font-size: var(--h4);
  font-weight: 500;
  font-style: italic;
}

h3 {
  font-size: var(--h3);
  font-weight: 600;
}

h2 {
  font-size: var(--h2);
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-family: var(--martel);
  font-size: var(--h1);
  font-weight: 400;
}

a {
  text-decoration: none;
}

.button {
  font-family: var(--martel);
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--green);
  text-decoration: none;
  line-height: 1.4em;
}

.button:hover,
.white header .button:hover {
  color: var(--teal);
  transition: all ease 0.25s;
}

.svg-arrow {
  fill: var(--brown);
  margin-left: 0.5em;
  margin-bottom: 0.1em;
  vertical-align: middle;
  transition: all ease 0.25s;
}

.button:hover .svg-arrow {
  fill: var(--green);
  margin-left: 0.7em;
}

header {
  padding: 1em calc(1 / 24 * 100%);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 9998;
  transition: 0.3s all ease;
}

header.sticky {
  background-color: var(--cream);
  transition: 0.3s all ease;
}

img.white {
  display: none;
}

.white header .logo img,
.white header.sticky .logo img.white {
  display: none;
}

.white header .logo img.white,
.white header.sticky .logo img {
  display: inline;
}

.white header .button {
  color: var(--cream);
}

.white header.sticky .button {
  color: var(--green);
}

.white header #menuToggle .menu-btn svg {
  fill: var(--cream);
}

.white header.sticky #menuToggle .menu-btn svg {
  fill: var(--brown);
}

.mobile {
  display: none;
}

#header-menu {
  display: flex;
  align-items: center;
}

#header-menu > a {
  margin: 0 1em;
}

#menuToggle {
  user-select: none;
  position: relative;
  padding: 15px 0px;
}

#menuToggle:hover .menu-btn {
  background-color: var(--beige-light);
  transition: 0.3s all ease;
}

#menuToggle .menu-btn {
  width: 45px;
  height: 45px;
  border: 2px solid var(--yellow);
  border-radius: 50%;
  top: 0;
  padding: 10px 5px;
  z-index: 9998;
  position: relative;
}

#menuToggle input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 9999; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle input:hover ~ .menu-btn svg {
  fill: var(--brown) !important;
}

#menuToggle .menu-btn svg {
  display: block;
  width: 27px;
  height: 2px;
  margin: 4px auto;
  position: relative;
  background-size: cover;
  fill: var(--brown);
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle .menu-btn svg:first-child {
  transform-origin: 0% 0%;
}

#menuToggle .menu-btn svg:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ .menu-btn {
  background-color: var(--brown);
  border-color: var(--brown);
}

#menuToggle input:checked ~ .menu-btn svg {
  opacity: 1;
  transform: rotate(45deg) translate(0, -5px);
  fill: var(--yellow) !important;
}

#menuToggle input:checked ~ .menu-btn svg:nth-child(2) {
  opacity: 0;
}

#menuToggle input:checked ~ .menu-btn svg:nth-child(3) {
  transform: rotate(-45deg) translate(1px, 1px);
}

#menuToggle .sun {
  display: block;
  content: " ";
  background-color: var(--yellow);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 50em;
  height: 50em;
  transform: translate(-50%, -50%) scale(0);
  transition: none;
}

#menuToggle input:checked ~ .sun {
  transform: translate(-60%, -30%) scale(1);
  transition: transform 0.5s ease;
}

#menu {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  background-size: cover;
  color: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, -50%);
  transition: transform 0.5s ease;
  padding: 6em 0 0;
  min-width: 350px;
}

#menu a {
  color: var(--brown);
  font-size: var(--h3);
  text-decoration: none;
  display: block;
  font-weight: 500;
  padding: 0.5em;
  margin: 0;
  position: relative;
  z-index: 2;
  text-align: right;
  opacity: 0;
  transition: none;
}

#menu a:hover {
  color: var(--cream);
}

#menuToggle input:checked ~ #menu {
  transform: scale(1, 1);
}

#menuToggle input:checked ~ #menu a {
  opacity: 1;
  transition: opacity ease 0.25s;
  transition-delay: calc(var(--delay) * 1ms + var(--index) * 100ms);
}

.dark-beige {
  background-color: var(--beige-dark);
  color: var(--cream);
}

.light-beige {
  background-color: var(--beige-light);
}

.beige-text {
  color: var(--beige);
}

.light-beige-text {
  color: var(--beige-light);
}

.dark-beige-text {
  color: var(--beige-dark);
}

.cream {
  background-color: var(--cream);
}

.green {
  background-color: var(--green);
  color: var(--cream);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-start {
  align-items: flex-start;
}

.center-title .section-title > * {
  text-align: center;
}

.center-title .section-title {
  padding: 0 calc(2 / 12 * 100%);
}

.center-text {
  text-align: center;
  width: 100%;
  display: inline-block;
}

section {
  /*display: flex;*/
  padding: 8em calc(2 / 24 * 100%);
  position: relative;
}

.section-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  align-items: center;
}

#home-hero {
  min-height: 100%;
  padding: 0 calc(2 / 24 * 100%);
  position: relative;
  align-items: center;
}

#home-hero div {
  width: 50%;
  z-index: 2;
  position: relative;
}

#home-hero img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 75%;
  width: auto;
}

@keyframes offset {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-green {
  to {
    fill: var(--green);
    stroke: transparent;
  }
}

@keyframes fill-beige {
  to {
    fill: var(--beige);
    stroke: transparent;
  }
}

@keyframes fill-yellow {
  to {
    fill: var(--yellow);
    stroke: transparent;
  }
}

@keyframes fill-darkbeige {
  to {
    fill: var(--beige-dark);
    stroke: transparent;
  }
}

@keyframes fill-cream {
  to {
    fill: var(--cream);
    stroke: transparent;
  }
}

@keyframes fill-teal {
  to {
    fill: var(--teal);
    stroke: transparent;
  }
}

path.animate {
  stroke-width: 0;
  stroke-dasharray: 3212;
  stroke-dashoffset: 3212;
  fill: transparent;
}

path.green {
  stroke: var(--green);
}

path.green.entered {
  stroke-width: 1;
  animation: offset 3s ease forwards, fill-green 1s 1s forwards;
}

path.beige {
  stroke: var(--beige);
}

path.beige.entered {
  stroke-width: 1;
  animation: offset 3s ease forwards, fill-beige 1s 1s forwards;
}

path.dark-beige {
  stroke: var(--beige-dark);
}

path.dark-beige.entered {
  stroke-width: 1;
  animation: offset 3s ease forwards, fill-darkbeige 1s 1s forwards;
}

path.yellow{
  stroke: var(--yellow);
}

path.yellow.entered {
  stroke-width: 1;
  animation: offset 3s ease forwards, fill-yellow 1s 1s forwards;
}

path.cream {
  stroke: var(--cream);
}

path.cream.entered {
  stroke-width: 1;
  animation: offset 3s ease forwards, fill-cream 1s 1s forwards;
}


path.teal {
  stroke: var(--teal);
}

path.teal.entered {
  stroke-width: 1;
  animation: offset 3s ease forwards, fill-teal 1s 1s forwards;
}



#svg-mountain {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: auto;
}

#svg-heroline {
  position: absolute;
  bottom: 2em;
  right: 0;
  width: 100%;
  height: auto;
}

.divider-line {
  margin: 1em 0 4em;
  overflow: hidden;
}

.divider-line svg {
  fill: var(--beige);
}

.two-col {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.two-col > *:first-child {
  width: 58%;
}

.two-col > *:last-child {
  width: 38%;
}

#home-about {
  /*  background-image: url(images/datu.svg);
  background-position: bottom center;
  background-size: 100% auto;
  */
  padding: 8em calc(7 / 24 * 100%);
}

#home-about svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#home-about path {
  stroke: var(--beige);
}

#home-about path.entered {
  animation: offset 16s ease forwards, fill-beige 1s 1s forwards;
}

#home-about-numbers {
  color: var(--yellow);
  margin: 5em 0;
}

#prog-numbers {
  padding: 6em calc(4 / 24 * 100%) 2em;
}

#prog-numbers h2 {
  color: var(--yellow);
  margin: 0;
}

#home-programs {
  padding: 0;
}

#home-programs-slider {
  background: linear-gradient(
    180deg,
    var(--beige-light) 67%,
    rgba(0, 0, 0, 0) 67%
  );
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  height: 600px;
}

#programs-slider {
  padding: 0;
}

#programs-slider .section-slider {
  background: linear-gradient(180deg, var(--green) 67%, rgba(0, 0, 0, 0) 67%);
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  height: 500px;
}

.section-slider > .slider {
  flex: 1;
  height: 484px;
}

.section-slider > .slider .panel {
  max-width: calc(20 / 24 * 100%);
  width: 1072px;
  overflow: hidden;
  position: relative;
  display: block;
}

.section-slider > .slider .panel > img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  transition: 0.3s all ease;
  z-index: 1;
}

.section-slider > .slider .panel:hover > img {
  transform: scale(1.1, 1.1);
  transition: 0.3s all ease;
}

.section-slider > .slider .panel:hover .overlay {
  opacity: 0.6;
}

.section-slider > .slider .panel a {
  position: absolute;
  bottom: 2em;
  width: 100%;
  text-align: center;
  color: var(--cream);
  z-index: 2;
  text-decoration: none;
  transition: 0.3s all ease;
}

.section-slider > .slider .panel a .button {
  color: var(--cream);
}

.section-slider > .slider .panel a:hover .button {
  color: var(--teal);
  transition: 0.3s all ease;
}

.section-slider > .slider .panel .panel-caption {
  display: inline-block;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--cream);
  width: 100%;
  color: var(--beige-dark);
}

#home-programs-info {
  padding: 5em calc(2 / 24 * 100%);
}

#home-programs-info .link-list h3 {
  margin-top: 2.4em;
}

.link-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link-list li {
  margin: 0 0 0.5em;
}

.link-list li:hover {
  cursor: pointer;
}

.link-list h3 {
  width: 100%;
  padding-bottom: 0.5em;
  background-image: url(images/link-list-line.svg);
  background-position: left bottom;
  margin-bottom: 0.5em;
}

h1 svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin: 0 0.1em;
}

#home-stories,
#stories {
  overflow-x: hidden;
}

.stories-list,
.news-grid,
.mile-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.story-item,
.news-grid .news-item,
.mile-item {
  width: 31.5%;
}

.story-item {
  background: var(--cream);
  color: var(--black);
}

.news-grid .news-item {
  background: var(--black);
  color: var(--cream);
}

.story-item img,
.news-grid .news-item img,
.mile-item img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  transition: all ease 0.3s;
}

.story-info,
.news-grid .news-info,
.mile-info {
  padding: 1em 1.5em 1em 1.2em;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  transition: all ease 0.3s;
}

.mile-info {
  padding: 1em 0em;
}

.story-info h3,
.news-grid .news-info h3 {
  margin-bottom: 0.75em;
  font-weight: 400;
  transition: 0.3s all ease;
  color: var(--cream);
}

.story-info h3 {
  color: var(--black);
}

.story-info h3:hover,
.news-grid .news-info h3:hover {
  color: var(--teal);
  transition: 0.3s all ease;
}

.author {
  color: var(--beige-dark);
  margin-top: auto;
  display: inline-block;
}

.date {
  color: var(--beige-light);
  margin-top: auto;
  display: inline-block;
}

.date:before,
#news-cat li a:before {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--color);
  border-radius: 50px;
  content: " ";
  margin-right: 0.5em;
}

.story-item:hover {
  /*background-color: var(--beige);*/
  cursor: pointer;
}

.news-grid .news-item:hover {
  /*background-color: var(--beige-dark);*/
  cursor: inherit;
}

.story-item:hover img,
.news-grid .news-item:hover img,
.mile-item:hover img {
  height: 190px;
  transition: all ease 0.3s;
}

.story-item:hover .story-info,
.news-grid .news-item:hover .news-info {
  margin-bottom: 0px;
  transition: all ease 0.3s;
}

#home-partners {
  align-items: center;
  flex-direction: column;
  /*background-image: url(images/home-partners.svg);*/
  background-position: right bottom;
  background-size: auto 80%;
  position: relative;
}

#home-partners > svg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 75%;
  width: auto;
}

#about-hero {
  background-image: url(images/banner-2.png);
  background-size: cover;
  min-height: 100%;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--cream);
}

#about-hero-intro {
  z-index: 2;
  position: relative;
  width: calc(8 / 24 * 100%);
  text-align: center;
}

#about-video {
}

#about-video svg {
  fill: var(--cream);
  transition: 0.3s all ease;
}

#about-video:hover svg {
  fill: var(--yellow);
  cursor: pointer;
  transition: 0.3s all ease;
}

#about-history {
  padding: 5em 0;
}

.overlay {
  background: var(--black);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all ease 0.3s;
}

#about-vm {
  padding: 8em 0 18em;
  position: relative;
}

#about-vm .container {
  padding: 0 calc(3 / 24 * 100%);
  width: 100%;
}

#about-vm > svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#about-vm .container > * {
  width: 47%;
  text-align: center;
}

#about-vm h5 {
  color: var(--yellow);
  margin-bottom: 1em;
}

#about-vm h3 {
  font-weight: 400;
}

#about-values {
  padding: 5em calc(2 / 24 * 100%);
}

#values {
  padding: 0 calc(6 / 24 * 100%);
  text-align: center;
}

#values > div {
  width: 32%;
}

#values svg {
  width: 30%;
  height: auto;
  margin-top: 0.5em;
}

#mile-divider {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 15px;
  margin-bottom: 1em;
}

#mile-divider svg {
  transform: rotate(-90deg);
  transform-origin: 0px 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#mile-divider-circle {
  width: 15px;
  height: 15px;
  background-color: var(--yellow);
  border-radius: 100px;
  z-index: 2;
  position: absolute;
}

#recent-milestones:hover #mile-divider-circle {
  left: var(--mouse-x);
}

#pub-list {
  margin: 4em 0 4em;
  padding: 0;
}

#pub-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--beige);
  border-bottom: 0px;
  padding: 1.5em 2em;
  align-items: center;
}

#pub-list li:last-child {
  border-bottom: 1px solid var(--beige);
}

#pub-list .pub-info {
  display: flex;
  justify-content: space-between;
}

#pub-list .pub-info > * {
  vertical-align: middle;
  padding: 0 0.5em;
  margin: 0;
}

#pub-list li:hover {
  background-color: var(--cream);
}

.bot-grid {
  padding: 0em calc(2 / 12 * 100%);
  flex-wrap: wrap;
  display: none;
}

.bot-grid.toggled {
  display: flex;
}

.bot-grid div {
  width: 28%;
  margin: 0 0 2em;
}

.bot-grid div img {
  width: 100%;
  margin: 0 0 0.5em;
}

.bot-grid div > * {
  margin: 0;
}

select {
  background-color: transparent;
  border: none;
  padding: 0.7em 2em 0.7em 1em;
  color: var(--cream);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  width: 100%;
  font-family: var(--martel);
  outline-color: var(--beige-light);
  min-width: 100px;
}

option {
  background-color: var(--cream);
  color: var(--green);
}

.dp-list {
  overflow: hidden;
  background-image: url("images/arrow-down.svg");
  background-color: var(--green);
  background-position: center right;
}

#about .dp-list {
  width: calc(2 / 12 * 100%);
  margin: 2em auto;
}

#partners-list {
  padding: 0 calc(2 / 12 * 100%);
  margin-top: 4em;
}

#partners-list img {
  max-width: 100%;
}

#prog-hero,
#stories-hero {
  align-items: flex-end;
  padding: 20em calc(2 / 24 * 100%) 4em;
}

#projects #prog-hero,
#news-page {
  padding: 12em calc(2 / 24 * 100%) 4em;
}

#prog-hero > svg {
  position: absolute;
  right: 10em;
  bottom: 10em;
  height: 60%;
  width: auto;
}

#stories-hero > svg {
  position: absolute;
  right: 10em;
  bottom: 0em;
  height: 90%;
  width: auto;
}

#prog-list {
  margin: 0;
  padding: 0;
}

#prog-list a {
  position: relative;
  z-index: 2;
}

#prog-list a svg {
  height: 3em;
  width: auto;
  vertical-align: middle;
  margin-right: 0.5em;
}

#prog-list li {
  position: relative;
  padding: 0.5em 2em 0.5em 1em;
  display: inline-block;
  background-size: 100% 100%;
  background-position: left top;
  transition: 0.3s all ease;
  overflow: hidden;
  border-top-left-radius: 5px;
  margin-right: 2em;
}

#prog-list li a {
  color: var(--brown);
}

#prog-list li a:hover,
#prog-list li.selected > a {
  color: var(--cream);
}

#prog-list li > svg {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity: 1;
  transition: 0.3s all ease;
  opacity: 0;
}

.prog-list-educ > svg {
  fill: var(--beige);
  transition: 0.3s all ease;
}

.prog-list-envi > svg {
  fill: var(--green);
  transition: 0.3s all ease;
}

.prog-list-culture > svg {
  fill: var(--yellow);
  transition: 0.3s all ease;
}

#prog-list li:hover > svg,
#prog-list li.selected > svg {
  opacity: 1;
  transition: 0.3s all ease;
}

#prog-list li a {
  display: inline-block;
}

#programs-project h3 {
  color: var(--green);
}

#programs-project .two-col {
  margin-bottom: 4em;
}

.data-item {
  background-color: var(--cream);
  border: 2px solid var(--beige);
  width: 23%;
  padding: 1em 1em 2em;
  color: var(--black);
  transition: 0.3s all ease;
}

.data-item img {
  width: 100%;
  max-height: 20em;
  object-fit: cover;
  margin-bottom: 1em;
}

.data-item:hover {
  border: 2px solid var(--teal);
  transition: 0.3s all ease;
}

#pub-page {
  padding: 15em calc(2 / 24 * 100%) 8em;
}

#pub-filters {
  justify-content: flex-start;
}

#pub-filters > * {
  margin-right: 1em;
}

#searchform {
  border-bottom: 1px solid #ccc;
  padding: 8px 0 0;
  margin: 0;
}

#searchform input {
  border: 0px;
  background: transparent;
  padding: 8px 10px 5px;
  outline: none;
}

div#searchBox #searchform {
  padding: 0;
  border: 1px solid var(--green);
  display: inline-block;
}

div#searchBox #searchform input {
  padding: 1em 1em 1em 0.25em;
  display: block;
}

#searchBox i.fa.fa-search {
  padding: 8px;
  cursor: pointer;
}

.sb-icon-search,
.sb-search-submit {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 3em;
  text-align: center;
  cursor: pointer;
  color: var(--green);
}

.sb-search-submit {
  background: #fff;
  /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: 100;
}

div#searchBox #searchform .sb-icon-search {
  /* color: #fff; */
  /* background: #3f91c3; */
  z-index: 90;
  /* font-size: 22px; */
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  top: -1px;
}

div#searchBox #searchform .sb-icon-search:before {
  content: "\f002";
}

span#noEasy {
  display: block;
  /* overflow: hidden; */
  position: relative;
  width: 30px;
  height: 30px;
  float: left;
  padding-left: 3px;
}

span#noEasy input {
  width: 30px;
  padding: 0 !important;
}

span#noEasy:hover {
  color: #444;
}

.pagination {
  margin: 0;
  padding: 0;
  text-align: center;
}

.pagination li {
  display: inline-block;
  margin: 0.1em;
  border: 1px transparent;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.pagination li.selected {
  border: 1px solid var(--beige-dark);
}

.pagination li:hover {
  border: 1px solid var(--teal);
  cursor: pointer;
}

#stories-page {
  padding: 0 0 5em;
  background: linear-gradient(
    180deg,
    var(--beige-dark) 10%,
    var(--beige-light) 10%
  );
}

#stories-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 calc(2 / 24 * 100%);
}

#stories-grid .story-item {
  width: 48%;
  margin-bottom: 4em;
  background-color: var(--cream);
  cursor: inherit;
}

#stories-grid .story-item img {
  height: 250px;
}

#stories-grid .story-item:hover img {
  height: 265px;
}

#stories-grid .story-item .story-info {
  padding: 2em 3em 2em 2em;
}

#stories-grid .story-item:hover .story-info {
  margin: 0;
}

#stories-grid .story-item .story-info p {
  margin: 1.5em 0 2em;
}

#milestones-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  flex-direction: column;
  align-items: center;
  background: url(images/milestones/line.svg) no-repeat center top;
  background-size: auto contain;
  padding-bottom: 10em;
}

.milestone {
  display: flex;
  align-items: baseline;
  margin: 0 calc(2 / 24 * 100%);
}

.milestone > .milestone-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--yellow);
  flex: none;
  line-height: 0;
  margin: 25px;
  transform: translateY(20%);
}

.milestone > .milestone-image {
  text-align: right;
  flex: 1;
  transform: translateY(50%);
}

.milestone-image img {
  width: 60%;
}

.milestone > .milestone-text {
  flex: 1;
}

.milestone > .milestone-text > h5 {
  font-style: italic;
  font-family: var(--faustina);
  font-weight: bold;
}

.milestone:nth-child(even) {
  flex-direction: row-reverse;
}

.milestone:nth-child(even) > .milestone-image {
  text-align: left;
}

.milestone:nth-child(even) > .milestone-text {
  text-align: right;
}

#milestones .dp-list {
  background-color: var(--cream);
}

#milestones .nav-select {
  color: var(--green);
  padding: 0.7em 2.5em 0.5em 1em;
}

#milestones .dp-list {
  background-image: url(images/arrow-down-brown.svg);
}

#story-image {
  background-size: cover;
  min-height: 500px;
}

#story-content {
  margin-top: -15em;
  padding: 5em calc(1 / 12 * 100%);
}

#story-content h1 {
  font-family: var(--faustina);
  font-weight: 500;
  margin: 1em 0 1em;
}

#story-content .author {
  margin-bottom: 2em;
}

#story #home-stories,
#news-article #home-news {
  padding: 0 calc(2 / 24 * 100%) 5em;
}

#news-filter {
  width: calc(4 / 20 * 100%);
}

#news-list {
  width: calc(15 / 20 * 100%);
}

#news-list .date {
  color: var(--beige-dark);
}

#news-list .news-item {
  display: flex;
  margin-bottom: 5em;
}

#news-list .news-item img {
  width: calc(4 / 15 * 100%);
  margin-right: calc(1 / 15 * 100%);
  object-fit: cover;
}

#news-list .news-info a {
  color: var(--brown);
  margin-bottom: 0.5em;
  transition: 0.3s all ease;
}

#news-list .news-info a:hover {
  color: var(--teal);
  transition: 0.3s all ease;
}

.filter-list {
  margin: 0 0 2em;
  padding: 0;
  border: 1px solid var(--green);
}

.filter-list span {
  display: inline-block;
  background-color: var(--green);
  padding: 0.7em;
  color: var(--cream);
  width: 100%;
  font-family: var(--martel);
}

.filter-list li a {
  display: inline-block;
  width: 100%;
  padding: 0.7em;
  border-top: 1px solid var(--green);
  color: var(--brown);
}

.filter-list li a:hover {
  background-color: var(--beige-light);
}

#news-article-page {
  padding: 12em calc(2 / 24 * 100%) 4em;
}

#news-article-page .date {
  color: var(--beige-dark);
}

#news-content {
  margin-bottom: 4em;
  padding: 0 calc(2 / 20 * 100%);
}

#news-content h1 {
  margin: 1em 0 1em;
}

#news-content img {
  width: 100%;
  margin-bottom: 3em;
}

#footer-cta {
  padding: 5em 0 10em;
  position: relative;
  background-color: transparent;
  background-size: 110% auto;
  background-position: center;
  text-align: center;
  color: var(--cream);
  transition: all ease 0.3s;
}

#footer-cta:hover .overlay {
  opacity: 0.6;
  transition: all ease 0.3s;
}

#footer-cta:hover {
  background-size: 105% auto;
  transition: all ease 0.3s;
}

.footer-cta-content {
  position: relative;
  z-index: 3;
}

#footer-cta > svg {
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: auto;
  left: 0;
  z-index: 2;
}

.footer-cta-content > svg {
  width: 150px;
  height: 150px;
}

.footer-cta-content .button {
  color: var(--cream);
}

.footer-cta-content .button svg {
  fill: var(--cream);
}

#footer-cols {
  padding: 2em calc(2 / 24 * 100%) 15em;
  background-color: var(--green);
  color: var(--cream);
}

#footer-cols > div {
  width: 25%;
}

#footer-cols > div > img {
  width: 90%;
}

.ss svg {
  height: 1.5em;
  width: 1.5em;
  margin-top: 0.25em;
  fill: white;
  transition: all ease 0.3s;
}

.ss:hover svg {
  fill: var(--yellow);
  transition: all ease 0.3s;
}
